@model IEnumerable<Konsthuset.Models.Artwork>

@{
    ViewData["Title"] = "Index";
}
<h1>GALLERIET</h1>

@foreach (var item in Model)
{
    <div class="card border-light mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-8">
            <img decoding="async" src="@("~/imageupload/"+item.ImageName)" asp-append-version="true" width="300px"
                height="250px" class="img-fluid rounded-start" />

        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.ArtistName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.ArtYear)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.ArtTechnique)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.ArtWidth) cm x @Html.DisplayFor(modelItem =>
                    item.ArtHeight) cm.</p>
                <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.ArtPrice) kr.</small>
                </p>
            </div>
        </div>
    </div>
</div>
}
